/* src/app/components/footer/footer.component.css */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #EEEEEE;
  color: #333;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-top: 1px solid #ccc;
}
