<main>
  <section class="form-section">
    <img class="logo" src="/assets/svg/logo.svg" />
    <h1>{{title}}</h1>
    <ng-content>
      
    </ng-content>
    <div class="btn-wrapper">
      <button (click)="onPrimaryClick()" class="btn-primary">{{primaryBtnText}}</button>
      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <button (click)="onSecondaryClick()" class="btn-secondary">{{secondaryBtnText}}</button>
    </div>
  </section>
</main>

