.historico-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.mensagem-vazia {
    margin-top: 30px;
    font-size: 18px;
    color: #888;
}

button {
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
}